[Unit]
Description=Supper media manager
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/supper web
Restart=always
RestartSec=10
User=supper
Group=supper

[Install]
WantedBy=multi-user.target
