button {
  @extend .noselect;
  cursor: pointer;
  font-family: $font;
  margin: 0 .25em;
  white-space: nowrap;
  font-size: 1em !important;
  position: relative;
  border-radius: 9999px;
  border: none;
  background-color: white;
  padding: .5em 1em;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 800;
  transition: transform .2s $bazier;
  border: .2em solid $brand;

  &.small {
    font-size: 75% !important;
  }

  &:disabled {
    cursor: default;
    color: gray;
  }

  &:enabled:not(.loading):hover {
    transform: scale(1.05);
    background-color: $brand;
    color: white;
    box-shadow: 0 0 .2em rgba(0,0,0,.1);
  }

  &.loading {
    cursor: default;
    text-shadow: none !important;
    color: transparent !important;
    opacity: 1;
    pointer-events: auto;
    transition: all 0s linear,opacity .1s ease;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      margin: -.6em 0 0 -.5em;
      border: 0.25em solid $borderColor;
      border-top: .25em solid $brand;
      border-radius: 50%;
      width: .75em;
      height: .75em;
      animation: spin .5s linear infinite;
    }
  }

  &.icon {
    overflow: hidden;
    padding-right: 2em;

    .flag-icon {
      border-radius: 0;
      position: absolute;
      margin: 0;
      padding: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }
}
