.flex {
  display: flex;
  flex-flow: row;

  @include small {
    &.collapse {
      flex-flow: column;

      .right {
        margin-left: 0;
      }

      > * {
        margin-bottom: 0.25em;
      }
    }
  }

  &.center {
    text-align: left;
  }

  .col {
    overflow: hidden;
    flex: 1 1 auto;
  }

  .right {
    margin-left: auto;
  }

  @for $i from 1 through 12 {
    .size-#{$i} {
      flex-shrink: $i;
      flex-grow: $i;
    }
  }
}
