ul {
  list-style: none;
  margin: 0;
  padding: 0.25em 0;
  width: 100%;

  li {
    padding: .5em 0;

    &:not(:last-child) {
      border-bottom: 1px solid $borderColor;
    }
  }
}

ul.media-list {
  padding: 0;

  li {
    padding: 0;
    background-color: white;
    transition: transform .1s ease-in-out;
    transform-origin: center;

    a {
      cursor: pointer;
      padding: 0.75em 1em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: block;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $borderColor;
    }

    &:hover, &.active {
      transform: scale(1.025);
      box-shadow: 0px 0em .75em 0px $borderColor;
    }

    &.active {
      color: white;
      background-color: $brand;
    }
  }
}

ul.file-list {
  list-style: none;
  margin: 0;
  padding: 0.25em 0;
  width: 100%;

  li {
    padding: .5em 0;

    &:not(:last-child) {
      border-bottom: 1px solid $borderColor;
    }

    .name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      display: block;

      ~ .tags {
        white-space: nowrap;
        display: block;
        margin-top: .5em;
      }
    }

    .subtitles {

    }
  }
}

ul.subtitle-list {
  li > * {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}
