@import "variables";

section {
  position: relative;
  background-color: white;
  padding: 1em;
  box-shadow: 0px 0em .75em 0px rgba(0,0,0,0.05);

  header {
    margin-top: -1em;
    border-bottom: 1px solid $borderColor;

    h1 {

    }
  }

  &.dark {
    background-color: darken(white, 8%);

    header {
      border: none;
    }
  }

  > section {
    margin: 0 -1em;
    box-shadow: none;
  }
}

.flex {
  display: flex;

  .item {
    flex: 1 0 100%;
  }
}
