ul.snackbar {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 1em;
  width: 45%;
  bottom: 0;

  @include medium {
    width: 100%;
  }

  li {
    padding: 1em;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    overflow: hidden;
    text-overflow: ellipsis;

    .title {
      font-weight: 800;
    }

    > span {
      margin-right: 1em;
    }

    &.notify {
      color: white;
      background-color: $brand;
      border-left: .5em solid darken($brand, 8%);
    }

    &.error {
      color: white;
      background-color: $red;
      border-left: .5em solid darken($red, 8%);
    }

    &.warning {
      color: white;
      background-color: $yellow;
      border-left: .5em solid darken($yellow, 8%);
    }

    &.success {
      color: white;
      background-color: $green;
      border-left: .5em solid darken($green, 8%);
    }
  }
}
