.spinner {
    border: 0.25em solid $borderColor;
    border-top: .25em solid $brand;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
