.stretch {
  width: 100%;
}

.center {
  align-items: center;
  text-align: center;
}

.noselect {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.inline > * {
  display: inline-block;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.spaced > * {
  &:not(:last-child) {
    margin-right: 0.5em;
  }
}

.nowrap {
  white-space: nowrap;
}

.vspace > * {
  margin-bottom: 0.5em;
}
