// Font settings
$font: 'Work Sans', sans-serif;

// Colors
$brand: #3498db;
$borderColor: rgba(0,0,0,0.05);

// Animations
$bazier: cubic-bezier(0, 2.07, 0.42, 1.73);

// Screen sizes
$mobile: 550px;
$tablet: 1150px;

// Mixins
@mixin mobile {
  @media only screen and (max-device-width: $mobile) { @content; }
}

@mixin tablet {
  @media only screen and (max-device-width: $tablet) { @content; }
}
