/* Main styles file */
@import "variables";
@import "util";
@import "spinner";
@import "lists";
@import "sections";
@import "tooltip";
@import "buttons";
@import "flex";
@import "misc";
@import "containers";
@import "tabs";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
    font-family: $font;
    background-color: #f5f5f5;
    font-size: .2in;
    padding: 0;
    margin: 0;
}

*:focus {
  outline: 0;
}

.main {
  width: 65vw;
  margin: 1em auto;
  padding: 1em 1em;

  @media screen and (max-width: 1150px) {
    width: 100%;
  }

  @include tablet {
    font-size: 125%;
    width: 100%;
  }

  @include mobile {
    font-size: 200%;
    width: 100%;
  }
}

input {
  font-family: $font;
}

input[type=text] {
  width: 100%;
  margin-top: 0 !important;
  font-weight: 800;
  margin: 1em 0;
  display: inline-block;
  border: none;
  font-size: 1em;
  outline: none;
  box-shadow: 0px 0em .75em 0px rgba(0,0,0,0.05);
  padding: 1em 2em;
}
